.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.1rem 0;
}

.step {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  border: none;
  border-radius: 50%;
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: none;
}

@media (min-width: 38rem) {
  .steps {
    max-width: 17rem;
    background-image: url("/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5rem 2rem;
    gap: 1.8rem;
    border-radius: 0.6rem;
    flex-shrink: 0;
    flex-grow: 6;
    min-width: 0;
  }
  .steps > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .title {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .title p {
    color: hsl(229, 24%, 87%);
    text-transform: uppercase;
  }
  .title > :first-child {
    font-size: 0.8rem;
  }
  .title > :last-child {
    color: hsl(0, 0%, 100%);
    font-size: 0.9rem;
    font-weight: 700;
  }
}
