@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  background-image: url("/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: hsl(217, 100%, 97%);
  font: 400 1rem "Ubuntu", sans-serif;
  min-height: 100vh;
}

@media (min-width: 38rem) {
  body {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  #root {
    flex-grow: 1;
  }
}
